
.UserWelcome
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #0066FF;
    background-color: #FFFFFF;
    height: 100vh;
    accent-color: #0066FF;
}

.welcomeMessage{
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
.divv{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.content
{
    height: 70%;
    width: 55%;
    margin: 4vw;
    border-radius: 9px;
    background-color: #E4E4E4;
}

form
{
    display: flex;
    justify-content: space-between;
}

.searchBar
{
    margin-left: 14px;
    border: auto;
    border-radius: 5px;
    background-color: #FFFFFF;
    border-color: transparent;
    color: #0066FF;
}

.searchBar::placeholder{
    color: #0066FF;
}

.searchBar:focus{
    border-color: #0066FF;
    color: #0066FF;
}

.orderBy
{
    font-weight: 700;
    accent-color: #E4E4E4;
    margin-right: 5px;
    border: auto;
    border-radius: 5px;
    background-color: #0066FF;
    border-color: transparent;
    color: white;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.paperArea::-webkit-scrollbar {
    display:none;
}

.paperArea {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.search {
    margin-right: 33px;
    font-weight: 700;
    background-color: #0066FF;
    border-color: transparent;
    border-radius: 5px;
    color: #FFFFFF;
    height: 30px;
    cursor: pointer;
}
